* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  html {
    font-family: "Roboto", sans-serif;
  }

  body {
    background-image: url(../assets/background.svg);
    background-size: cover;
    background-repeat: no-repeat;
    color: #F5F5F5;
  }
  
  h1 {
    @apply font-bold text-8xl;
  }

  h2 {
    @apply font-bold text-5xl;
  }

  h3 {
    @apply font-bold text-2xl;
  }

  p {
    @apply font-medium text-lg;
  }

  @variants responsive {
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .no-scrollbar {
      -ms-overflow-style: none;
      scrollbar-width: none;
    }
  }
}



.MuiAutocomplete-popper {
  z-index: 999999 !important;
}
